watson_language_translator.js
[{"id":"4003f329.544e94","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"2075c83b.d99878","type":"watson-language-translator-identify","z":"4003f329.544e94","name":"detect","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":410,"y":80,"wires":[["fb9d3463.984e3"]]},{"id":"360cab5e.3bf32c","type":"change","z":"4003f329.544e94","name":"format_mes","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\s*\\@igibmswtest\\s*","fromt":"re","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\s*https?://[\\w/:%#\\$&\\?\\(\\)~\\.=\\+\\-]+\\s*","fromt":"re","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":241,"y":80,"wires":[["2075c83b.d99878"]]},{"id":"fb9d3463.984e3","type":"function","z":"4003f329.544e94","name":"set_flg_and_mes","func":"var langname = {\n    'af':'アフリカーンス','ar':'アラビア','az':'アゼルバイジャン',\n    'ba':'バシキール','be':'ベラルーシ','bg':'ブルガリア',\n    'bn':'ベンガル','bs':'ボスニア',\n    'ca':'カタルーニャ（カタロニア）','cs':'チェコ','cv':'チュヴァシ',\n    'da':'デンマーク','de':'ドイツ',\n    'el':'ギリシャ','en':'英','eo':'エスペラント',\n    'es':'スペイン','et':'エストニア','eu':'バスク',\n    'fa':'ペルシア','fi':'フィンランド','fr':'フランス',\n    'ga':'アイルランド','gu':'グジャラート',\n    'he':'ヘブライ','hi':'ヒンディ','hr':'クロアチア',\n    'ht':'ハイチ','hu':'ハンガリー','hy':'アルメニア',\n    'id':'インドネシア','is':'アイスランド','it':'イタリア',\n    'ja':'日本',\n    'ka':'ジョージア（グルジア）','kk':'カザフ','km':'中央クメール',\n    'ko':'韓国・朝鮮','ku':'クルド','ky':'キルギス',\n    'lt':'リトアニア','lv':'ラトビア',\n    'ml':'マラヤーラム','mn':'モンゴル',\n    'ms':'マレー','mt':'マルタ',\n    'nb':'(ブークモール)ノルウェー','nl':'オランダ','nn':'(ニーノシュク)ノルウェー',\n    'pa':'パンジャーブ','pl':'ポーランド','ps':'パシュトー',\n    'pt':'ポルトガル',\n    'ro':'ルーマニア・モルドバ','ru':'ロシア',\n    'sk':'スロバキア','sl':'スロベニア',\n    'so':'ソマリ','sq':'アルバニア',\n    'sr':'セルビア','sv':'スウェーデン',\n    'ta':'タミール','te':'テルグ','th':'タイ',\n    'tr':'トルコ','uk':'ウクライナ','ur':'ウルドゥー',\n    'vi':'ベトナム',\n    'zh':'中国','zh-TW':'繁体字中国'\n};\n\nvar msgtemp ,msgtemp2, swflag;\n\nif (msg.tweet.user.screen_name !== 'igibmswtest') {\n    msgtemp = '@' + msg.tweet.user.screen_name + ' こんにちは！';\n}\n    msg.params = {in_reply_to_status_id:msg.tweet.id_str};\n\n\nif (msg.lang.language in langname === false) {\n    msg.mydetect = msgtemp + \"ごめんなさい、どこの言葉かわかりませんでした。\";\n    msg.myflg = -1;\n    return msg;\n}\n\nvar translatable_to_en = [\n    'ar', 'bg', 'cs', 'da', 'de', 'el', 'es', 'et',\n    'fi', 'fr', 'he', 'hi', 'hr', 'hu', 'it', 'ja', 'ko',\n    'nb', 'nl', 'pt', 'pl', 'ro', 'ru', 'sk', 'sl', 'sv',\n    'tr', 'zh', 'zh-TW'\n];\nvar do_translate_to_en = [\n    'ja', 'ru', 'tr', 'zh', 'zh-TW',\n//test new languages\n    'bg', 'et'\n];\nvar translatable_to_ja = ['en'];\n\nif (msg.lang.confidence >= 0.9)  {\n    msgtemp += \"きっと\"; \n    msgtemp2 = \"語だよ！\"; \n} else if (msg.lang.confidence >= 0.6) {\n    msgtemp += \"たぶん\"; \n    msgtemp2 = \"語かなぁ。\"; \n} else if (msg.lang.confidence >= 0.3) {\n    msgtemp += \"もしかしたら\";\n    msgtemp2 = \"語かも。\"; \n} else {\n    msgtemp += \"ひょっとして\"\n    msgtemp2 = \"語かも？\";\n}\n\nmsgtemp += langname[msg.lang.language] + msgtemp2 ;\n\nif (msg.lang.confidence >= 0.3) {\n    if (translatable_to_ja.indexOf(msg.lang.language) >= 0) {\n        msgtemp += \"日本語へ翻訳してみた→\";\n        swflag = 1;\n    } else if (translatable_to_en.indexOf(msg.lang.language) >= 0) {\n        if (do_translate_to_en.indexOf(msg.lang.language) >= 0) {\n            msgtemp += \"英語へ翻訳できます→\";\n            swflag = 2;\n        } else {\n            msgtemp += \"英語へ翻訳できますが、今はテスト対象外です。\";\n            swflag = -1;\n        }\n    } else {\n        msgtemp += \"残念ながら翻訳対象外でした。\";\n        swflag = -1;\n    }\n} else {\n    msgtemp += \"他にも試してみてね。\";\n    swflag = -1;\n}\n\nmsg.lang.mydetect = msgtemp;\nmsg.lang.myflg = swflag;\nreturn msg;","outputs":"1","noerr":0,"x":590,"y":80,"wires":[["149ace2e.d36df2"]]},{"id":"149ace2e.d36df2","type":"switch","z":"4003f329.544e94","name":"by_flg","property":"lang.myflg","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":59.16667175292969,"y":260.16664123535156,"wires":[["6d1bba6b.762dfc"],["4d025a5d.709f94"],["f607b7a.f3a5248"]]},{"id":"4d025a5d.709f94","type":"watson-translator","z":"4003f329.544e94","name":"from_en_to_ja","action":"translate","basemodel":"es-en","domain":"general","srclang":"en","destlang":"ja","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ja","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":241.16668701171875,"y":269.1666259765625,"wires":[["fe1aecc.b165d9"]]},{"id":"fe1aecc.b165d9","type":"function","z":"4003f329.544e94","name":"set_output","func":"msg.payload = msg.lang.mydetect + msg.payload;\nif (msg.payload.length > 200) {\n    msg.payload = msg.payload.substr(0, 200) + ' (以下略)';\n}\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":324,"wires":[["529d3ac9.83af04","a0034663.77df38"]]},{"id":"7445ccfc.5b980c","type":"watson-translator","z":"4003f329.544e94","name":"from_ja_to_en","action":"translate","basemodel":"es-en","domain":"general","srclang":"ja","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ja","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":241.16668701171875,"y":322.1666564941406,"wires":[["fe1aecc.b165d9"]]},{"id":"f607b7a.f3a5248","type":"switch","z":"4003f329.544e94","name":"by_lang","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"ja","vt":"str"},{"t":"eq","v":"ru","vt":"str"},{"t":"eq","v":"tr","vt":"str"},{"t":"eq","v":"zh-TW","vt":"str"},{"t":"eq","v":"zh","vt":"str"},{"t":"eq","v":"bg","vt":"str"},{"t":"eq","v":"et","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":65.16667175292969,"y":365.1666564941406,"wires":[["7445ccfc.5b980c"],["19ca5ee1.237481"],["4a78581f.e2f0b8"],["d80955e8.05737"],["d16cb71b.22d6b8"],["3250613c.8ef326"],["3f5c0dcd.7a8392"]]},{"id":"19ca5ee1.237481","type":"watson-translator","z":"4003f329.544e94","name":"from_ru_to_en","action":"translate","basemodel":"es-en","domain":"general","srclang":"ru","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ru","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":240,"y":356,"wires":[["fe1aecc.b165d9"]]},{"id":"4a78581f.e2f0b8","type":"watson-translator","z":"4003f329.544e94","name":"from_tr_to_en","action":"translate","basemodel":"es-en","domain":"general","srclang":"tr","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"tr","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":240,"y":396,"wires":[["fe1aecc.b165d9"]]},{"id":"6d1bba6b.762dfc","type":"function","z":"4003f329.544e94","name":"set_output_errorcase","func":"msg.payload = msg.lang.mydetect;\nreturn msg;","outputs":1,"noerr":0,"x":417.3333435058594,"y":221.33334350585938,"wires":[["529d3ac9.83af04"]]},{"id":"d80955e8.05737","type":"watson-translator","z":"4003f329.544e94","name":"from_zh-TW_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"zh-TW","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"zh-TW","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":250,"y":436,"wires":[["fe1aecc.b165d9"]]},{"id":"3250613c.8ef326","type":"watson-translator","z":"4003f329.544e94","name":"from_bg_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"bg","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"bg","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":240,"y":520,"wires":[["fe1aecc.b165d9"]]},{"id":"3f5c0dcd.7a8392","type":"watson-translator","z":"4003f329.544e94","name":"from_et_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"et","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"et","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":240,"y":560,"wires":[["fe1aecc.b165d9"]]},{"id":"f5ff829b.dcfdf","type":"twitter in","z":"4003f329.544e94","twitter":"","tags":"@igibmswtest","user":"false","name":"receive","inputs":0,"x":80,"y":100,"wires":[["360cab5e.3bf32c"]]},{"id":"529d3ac9.83af04","type":"twitter out","z":"4003f329.544e94","twitter":"","name":"responce","x":600,"y":280,"wires":[],"icon":"node-red/comment.png"},{"id":"a0034663.77df38","type":"debug","z":"4003f329.544e94","name":"mydebug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":420,"wires":[]},{"id":"d16cb71b.22d6b8","type":"watson-translator","z":"4003f329.544e94","name":"from_zh_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"zh","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"zh","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":240,"y":480,"wires":[["fe1aecc.b165d9"]]}]